---
layout: default
title: Bookmarks
---

{% for section in site.data.bookmarks %}
<div class="row">
  {% for group in section.groups %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="list-group mb-3">
      {% for item in group.items %}
      <a
        href="{{item.url}}"
        class="list-group-item list-group-item-action py-2 px-3"
        title="{{item.url}}"
      >
        <img
          src="https://www.google.com/s2/favicons?domain={{item.favicon_domain}}"
          width="16"
          height="16"
        />
        {{ item.title }}
      </a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
